.vote-span{
	width: 40px;
	float: left;
	margin: 1px 0;

}

.vote, .vote-score{
	clear: both;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	text-align: center;
	color: #333;
	font-size: 1.8em;
	font-weight: bold;

}
.vote-score{cursor: text;}

body{
	background-color: #FFFFCC;
}

h1{

	color: : #3333CC;
}